<div id="container">
  <aside>
    <div>
      <h2>Horario</h2>
      <table style="margin: 0 auto; text-align: center;">
        <tr>
          <td>Inicio se semana</td>
          <td>Fin de semana</td>
        </tr>
        <tr>
          <td><input type="date" [(ngModel)]="startDate" ng-model-options="{timezone:'UTC'}" (ngModelChange)="onStartDateChange($event)"></td>
          <td><input type="date" [(ngModel)]="endDate" (ngModelChange)="onEndDateChange($event)"></td>
        </tr>
      </table>

      <h2>Añadir evento</h2>
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="day">Día de la semana</label>
          <select class="form-control" id="day" formControlName="day">
            <option *ngFor="let day of weekDays" [value]="day.value" >{{day.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="tournament">Torneo</label>
          <select class="form-control" id="tournament" formControlName="tournament">
            <option *ngFor="let tournament of tournaments" [value]="tournament">{{tournament}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="opponent">Oponente</label>
          <input type="text" class="form-control" id="opponent" formControlName="opponent">
        </div>

        <div class="form-group">
          <label for="date">Fecha</label>
          <input type="datetime-local" class="form-control" id="date" formControlName="date">
        </div>

        <button class="button" type="submit">Agregar</button>
      </form>
    </div>
  </aside>
  <main>
    <div id="result">
      <div id="subtitle">Del {{startDate.toLocaleDateString('es-MX', { month: 'long', day: 'numeric' })}} al {{endDate.toLocaleDateString('es-MX', { month: 'long', day: 'numeric' })}}</div>
      <div id="days">
        <div id="monday">
          <div *ngFor="let event of schedule.monday">
            <div class="event">
              <div class="event-tournament" [style]="'background-image: url(assets/tournaments/' + event.tournament + '.png);'"></div>
              <div class="event-opponent">vs {{event.opponent}}</div>
              <div class="event-times">
                <div>
                  <img src="https://flagcdn.com/16x12/co.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/mx.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/pe.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0500' }}
                </div>
                <div>
                  <img src="https://flagcdn.com/16x12/cl.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/pr.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/ve.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0400' }}
                </div>
                <div>
                  <img src="https://flagcdn.com/16x12/ar.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/uy.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0300' }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tuesday">
          <div *ngFor="let event of schedule.tuesday">
            <div class="event">
              <div class="event-tournament" [style]="'background-image: url(assets/tournaments/' + event.tournament + '.png);'"></div>
              <div class="event-opponent">vs {{event.opponent}}</div>
              <div class="event-times">
                <div>
                  <img src="https://flagcdn.com/16x12/co.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/mx.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/pe.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0500' }}
                </div>
                <div>
                  <img src="https://flagcdn.com/16x12/cl.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/pr.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/ve.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0400' }}
                </div>
                <div>
                  <img src="https://flagcdn.com/16x12/ar.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/uy.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0300' }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="wednesday">
          <div *ngFor="let event of schedule.wednesday">
            <div class="event">
              <div class="event-tournament" [style]="'background-image: url(assets/tournaments/' + event.tournament + '.png);'"></div>
              <div class="event-opponent">vs {{event.opponent}}</div>
              <div class="event-times">
                <div>
                  <img src="https://flagcdn.com/16x12/co.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/mx.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/pe.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0500' }}
                </div>
                <div>
                  <img src="https://flagcdn.com/16x12/cl.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/pr.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/ve.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0400' }}
                </div>
                <div>
                  <img src="https://flagcdn.com/16x12/ar.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/uy.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0300' }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="thursday">
          <div *ngFor="let event of schedule.thursday">
            <div class="event">
              <div class="event-tournament" [style]="'background-image: url(assets/tournaments/' + event.tournament + '.png);'"></div>
              <div class="event-opponent">vs {{event.opponent}}</div>
              <div class="event-times">
                <div>
                  <img src="https://flagcdn.com/16x12/co.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/mx.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/pe.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0500' }}
                </div>
                <div>
                  <img src="https://flagcdn.com/16x12/cl.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/pr.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/ve.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0400' }}
                </div>
                <div>
                  <img src="https://flagcdn.com/16x12/ar.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/uy.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0300' }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="friday">
          <div *ngFor="let event of schedule.friday">
            <div class="event">
              <div class="event-tournament" [style]="'background-image: url(assets/tournaments/' + event.tournament + '.png);'"></div>
              <div class="event-opponent">vs {{event.opponent}}</div>
              <div class="event-times">
                <div>
                  <img src="https://flagcdn.com/16x12/co.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/mx.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/pe.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0500' }}
                </div>
                <div>
                  <img src="https://flagcdn.com/16x12/cl.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/pr.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/ve.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0400' }}
                </div>
                <div>
                  <img src="https://flagcdn.com/16x12/ar.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/uy.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0300' }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="saturday">
          <div *ngFor="let event of schedule.saturday">
            <div class="event">
              <div class="event-tournament" [style]="'background-image: url(assets/tournaments/' + event.tournament + '.png);'"></div>
              <div class="event-opponent">vs {{event.opponent}}</div>
              <div class="event-times">
                <div>
                  <img src="https://flagcdn.com/16x12/co.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/mx.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/pe.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0500' }}
                </div>
                <div>
                  <img src="https://flagcdn.com/16x12/cl.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/pr.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/ve.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0400' }}
                </div>
                <div>
                  <img src="https://flagcdn.com/16x12/ar.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/uy.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0300' }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="sunday">
          <div *ngFor="let event of schedule.sunday">
            <div class="event">
              <div class="event-tournament" [style]="'background-image: url(assets/tournaments/' + event.tournament + '.png);'"></div>
              <div class="event-opponent">vs {{event.opponent}}</div>
              <div class="event-times">
                <div>
                  <img src="https://flagcdn.com/16x12/co.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/mx.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/pe.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0500' }}
                </div>
                <div>
                  <img src="https://flagcdn.com/16x12/cl.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/pr.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/ve.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0400' }}
                </div>
                <div>
                  <img src="https://flagcdn.com/16x12/ar.png" width="16" height="12">
                  <img src="https://flagcdn.com/16x12/uy.png" width="16" height="12">
                  {{ event.date | date:'HH:mm':'-0300' }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
